<div class="card ecommerce-card">
  <div class="item-img">
    <a href="javascript:void(0)">
      <img
        [src]="'data:image/png;base64,' + cartDetail.productDto.image"
        alt="img-placeholder"
      />
    </a>
  </div>
  <div class="card-body">
    <div class="item-name">
      <h4 class="mb-1">
        <a href="javascript:void(0)" class="text-body"
          >Tên sách: {{ cartDetail.productDto.name }}</a
        >
      </h4>
    </div>

    <div class="item-quantity mb-1">
      <span class="quantity-title mr-1">Số lượng: </span>
      <div class="quantity-counter-wrapper">
        <button
          [disabled]="cartDetail.quantity == 1"
          class="btn btn-sm btn-primary font-weight-bold font-medium-1"
          rippleEffect
          (click)="updateQuantity(-1)"
        >
          -
        </button>
        {{ cartDetail.quantity }}
        <button
          [disabled]="cartDetail.quantity >= cartDetail.productDto.quantity"
          class="btn btn-sm btn-primary font-weight-bold font-medium-1"
          rippleEffect
          (click)="updateQuantity(1)"
        >
          +
        </button>
        (Hàng trong kho: {{ cartDetail.productDto.quantity }})
      </div>
    </div>

    <div class="item-quantity mb-1">
      <span class="quantity-title"
        >Giá thuê: {{ cartDetail.productDto.price }} VNĐ/ngày</span
      >
      <div class="quantity-counter-wrapper"></div>
    </div>

    <div class="item-quantity">
      <span class="quantity-title"
        >Đặt cọc: {{ cartDetail.productDto.deposit }} VNĐ/quyển</span
      >
      <div class="quantity-counter-wrapper"></div>
    </div>
  </div>

  <div class="item-options text-center">
    <button
      type="button"
      class="btn btn-light mt-1 remove-wishlist"
      (click)="removeFromCart()"
      rippleEffect
    >
      <i data-feather="x" class="align-middle mr-25"></i>
      <span>Xóa</span>
    </button>
  </div>
</div>
