<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section>
      <div class="card shadow-none border-0 mb-0 rounded-0 pb-1">
        <div class="card-body pb-0 pl-1">
          <form [formGroup]="form">
            <div class="row">
              <div class="col-12 col-lg-5">
                <label>Tìm kiếm</label>
                <input
                  type="search"
                  placeholder="Tìm kiếm"
                  class="form-control"
                  formControlName="searchText"
                />
              </div>
              <div class="col-12 col-lg-7">
                <label class="mb-0">&nbsp;</label>
                <div class="d-flex justify-content-end">
                  <button
                    *ngIf="isAdmin"
                    class="btn btn-primary"
                    rippleEffect
                    (click)="updateOrder()"
                  >
                    Duyệt đơn
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section>
      <div class="card shadow-none border-0 mb-0 rounded-0">
        <ngx-datatable
          [rows]="page.data"
          [rowHeight]="58"
          class="bootstrap core-bootstrap cursor"
          [limit]="page.limit"
          [count]="page.totalItems"
          [offset]="page.currentPage"
          [columnMode]="'force'"
          [headerHeight]="40"
          [externalPaging]="true"
          [footerHeight]="50"
          [scrollbarH]="true"
          [selectionType]="'checkbox'"
          [rowIdentity]="getId"
          (page)="pageChange($event)"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          [selected]="selected"
        >
          <ngx-datatable-column
            *ngIf="isAdmin"
            [width]="50"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            name="."
          >
            <ng-template
              ngx-datatable-cell-template
              let-rowIndex="rowIndex"
              let-value="value"
              let-row="row"
              let-isSelected="isSelected"
              let-onCheckboxChangeFn="onCheckboxChangeFn"
            >
              <div
                class="custom-control custom-checkbox"
                *ngIf="row.status === 'NEW'"
              >
                <input
                  type="checkbox"
                  class="custom-control-input"
                  [checked]="isSelected"
                  (change)="onCheckboxChangeFn($event)"
                  id="rowChkbxRef{{ rowIndex }}"
                />
                <label
                  class="custom-control-label"
                  for="rowChkbxRef{{ rowIndex }}"
                ></label>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="ID"
            prop="id"
            [width]="100"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="Người nhận"
            prop="receiverName"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="Địa chỉ"
            prop="receiverAddress"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="Số điện thoại"
            prop="receiverPhone"
          ></ngx-datatable-column>
          <ngx-datatable-column name="Ngày tạo" prop="timeOrder" [width]="250">
            <ng-template ngx-datatable-cell-template let-value="value">
              <div>{{ value | date : "dd-MM-yyyy" }}</div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Ngày trả hàng" prop="giveBackDay">
            <ng-template ngx-datatable-cell-template let-value="value">
              <div>{{ value | date : "dd-MM-yyyy" }}</div>
            </ng-template></ngx-datatable-column
          >
          <ngx-datatable-column
            name="Trạng thái"
            prop="status"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="Số tiền (VNĐ)"
            prop="total"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="Thanh toán"
            prop="payment"
          ></ngx-datatable-column>
          <ngx-datatable-column
            name="Ghi chú"
            prop="note"
          ></ngx-datatable-column>
        </ngx-datatable>
      </div>
    </section>
  </div>
</div>

<ng-template #modal let-modal>
  <app-detail [order]="order" [modal]="modal"></app-detail>
</ng-template>
